@import url("bootstrap.min.css");



.topnav {
background-color:#FF0004;
overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color:#FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	font: bold;
}
	.topnav a:hover {
  background-color: #ddd;
  color:#FFFFFF;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.container{
	margin-top:40px;
	margin-bottom: 40px;
}
.tittle {
	margin-bottom: 30px;
	padding: 60px;
  text-align: center;
  background-image:url("../images/DEEPFRYING.jpg");
  color: white;
  font-size: 30px;
 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.h3{
	align-content: center;
	color:#d21511;
}

.btn.btn-primary {
  align-content: center;
  border-width: thick;
  border-style: dotted;
  border-color: #d21511;
  color: #000000;
  background-color: #efee00;
}

.btn.btn-primary:hover {
  color: #FFFFFF;
  background-color: #d21511;
}

.btn-secondary {
  background-color: #ffa401;
  color: #ffffff;
  margin: 0 0 30px;
}
.improvement {list-style: inherit;}

.row{
	
	margin-top:40px;
}

.menutext {
	font: italic;
	text-decoration: underline;
}



