@import url("bootstrap.min.css");

.navbar {
	float: inherit;
	color:#FFFFFF;
	background-color: #000000;
}
li {
 	display: inline;
	}

.h1 {
	color:black;
	}
.h3 {
	align-content: center;
	color:#d21511;
}

.btn.btn-primary {
  align-content: center;
  border-width: thick;
  border-style: dotted;
  border-color: #d21511;
  color: #000000;
  background-color: #efee00;
}

.btn.btn-primary:hover {
  color: #FFFFFF;
  background-color: #d21511;
}

.btn-secondary {
  background-color: #ffa401;
  color: #ffffff;
  margin: 0 0 30px;
}
